{% load staticfiles %}
{% load i18n %}
{% with "Dionyz Lazar" as name %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ name }} - {{dev_profile_title}}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="canonical" href="https://www.dionysio.com/">

    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#246c9c">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <meta name="theme-color" content="#246c9c">

    <script>
         document.documentElement.className = document.documentElement.className.replace("no-js","js");
    </script>

    {% block cdn_css %}{% endblock cdn_css %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss"  href="{% static 'css/styles.scss' %}" />
    {% endcompress %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <header>
        <ul id="menu" class="shadow-large">
            <li id="logo" class="hidden-xs">
                <i class="menu-icon">{% include 'svg/logo.svg' %}</i>
            </li>
            <li>
                <a href="#about"><i class="hidden-sm menu-icon">{% include 'svg/contact_mail.svg' %}</i> About</a>
            </li>
            <li>
                <a href="#testimonials"><i class="hidden-sm menu-icon">{% include 'svg/rate_review.svg' %}</i> Testimonials</a>
            </li>
            <li>
                <a href="#projects"><i class="hidden-sm menu-icon">{% include 'svg/work.svg' %}</i> Projects</a>
            </li>
            <li>
                <a href="#education"><i class="hidden-sm menu-icon">{% include 'svg/school.svg' %}</i> Education</a>
            </li>
            <li>
                <a href="#contact"><i class="hidden-sm menu-icon">{% include 'svg/message.svg' %}</i> Contact</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <div id="main" role="main">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <div itemscope="" itemtype="https://schema.org/ProfessionalService">
        <div style="display:none;">
            <span class="rating-desc" itemscope="" itemtype="http://schema.org/Product">
             <span itemprop="name">{{ name }}</span>
             <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                 <span itemprop="ratingValue">{{ dev_adj_score_recent }}</span>
                 <span itemprop="reviewCount">{{ dev_tot_feedback }}</span>
                 <a class="ratings" href="#testimonials"></a>
             </span>
            </span>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    {% block footer_content %}
                        <div class="col-sm-5 copyright">
                            <p>
                                &copy; Copyright 2017 - {% now "Y" %} <span itemprop="name">{{ name }}</span>
                            </p>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </footer>
    </div>
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "service": {
                "@type": "ProfessionalService",
                "url": "https://www.dionysio.com",
                "name": "{{ name }}",
                "image": "https://www.dionysio.com/media/blue_logo.png",
                "sameAs": [
                    "http://www.facebook.com/dionyz.lazar",
                    "http://instagram.com/diooooooooooooooo",
                    "http://www.linkedin.com/in/dionyzlazar",
                    "http://www.upwork.com/fl/dionyz"
                ],
                "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Zilina",
                    "streetAddress": "Nanterska 11",
                    "postalCode": "01008",
                    "addressCountry": "SK"
                }
            },
            "product": {
                "@type": "Product",
                "name": "{{ name }}",
                "description": "{{ description }}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "{{ dev_adj_score_recent }}",
                    "reviewCount": "{{ dev_tot_feedback }}"
                }
            }
        }
    </script>

</body>
</html>
{% endwith %}