{% extends 'base.html' %}
{% load honeypot %}

{% block content %}

    <section id="lead" class="shadow">
        <div id="lead-content">
            <div>
                <h2>My name is</h2>
                <h1 id="name" class="js-hidden" data-before="3~b1zt" data-after="r99mx">Dionýz Lazar</h1>
            </div>
            <h2>and I'm</h2>
            <h2>{{dev_profile_title}}</h2>

            <a id="download-resume" href="{{MEDIA_URL}}cv_en.pdf" class="btn-rounded-white">
                Download Resume
                <i class="icon icon-document-certificate">{% include 'svg/document-certificate.svg' %}</i>
            </a>
        </div>
    </section>

    <section id="about" class="">
        <div class="container">
            <i class="section-icon">{% include 'svg/contact_mail.svg' %}</i>
            <h2 class="heading">About Me</h2>
            <div class="row">
                <div class="project vertical-align  shadow-large">
                    <div class="project-image col-sm-4">
                        <img id="profile-img" class="shadow-large img-responsive" src="{{MEDIA_URL}}profile-min.jpg" alt="Profil picture"/>
                    </div>
                    <div class="project-info col-sm-8">
                        <p>
                            {{ dev_blurb|linebreaks }}
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
            </div><div class="row">
                <div class="col-md-6">
                    <i class="section-icon">{% include 'svg/check.svg' %}</i>
                    <h3 class="heading">Job success score</h3>
                    <div id="score">
                        {% include 'svg/score.svg' %}
                    </div>
                </div>
                <div class="col-md-6" id="skills">
                    <i class="section-icon">{% include 'svg/build.svg' %}</i>
                    <h3 class="heading">Skills</h3>
                    <ul>
                        {% for skill in skills %}
                            <li class="shadow-large">{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End #about -->
    <section id="testimonials" class="">
        <div class="container">
            <i class="section-icon">{% include 'svg/rate_review.svg' %}</i>
            <h2 class="heading">Testimonials</h2>
            <div class="row">
                {% for testimonial in assignments %}
                    <div class="col-lg-8 {% if forloop.counter|divisibleby:2 %}pull-right{% else %}pull-left{% endif %}">
                        <div class="block">
                            <p class="testimonial-date">{{ testimonial.date|date:"F Y"  }}</p>
                            <blockquote class="testimonial">
                                <p>{{ testimonial.feedback }}</p>
                            </blockquote>
                            <p class="testimonial-title">{{ testimonial.title }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

    {% if projects %}
    {% include 'base/project_section.html' %}
    {% endif %}

    {% if schools %}
    {% include 'base/education_section.html' %}
    {% endif %}

    <!-- End #education -->
    <section id="links" class="">
        <div class="container">
            <i class="section-icon">{% include 'svg/link.svg' %}</i>
            <h2 class="heading">Links</h2>
            <div class="row">
                <div class="col-sm-4 col-xs-6" align="center">
                    <a href="https://github.com/dionysio">
                        <i class="icon-github svg-shadow svg-shadow" aria-hidden="true">{% include 'svg/github.svg' %}</i>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6" align="center">
                    <a href="https://www.linkedin.com/in/dionyzlazar/"><i class="icon-linkedin svg-shadow svg-shadow" aria-hidden="true">{% include 'svg/linkedin.svg' %}</i></a>
                </div>
                <div class="col-sm-4 col-xs-6" align="center">
                    <a href="https://www.upwork.com/fl/dionyz"><i class="icon-upwork svg-shadow svg-shadow" aria-hidden="true">{% include 'svg/upwork.svg' %}</i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- End #projects -->

    <section id="contact">
        <div class="container">
            <i class="section-icon">{% include 'svg/message.svg' %}</i>
            <h2 class="heading">Get in Touch</h2>
            <div class="row">
                <div id="contact-form" class="col-xs-offset-3">
                    <form role="form" action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        {% for field in contact_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        {% render_honeypot_field "last_name" %}
                        <div id="send_message" class="m-x-auto">
                            <button class="btn btn-danger" type="submit">Talk to me</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End #contact-form -->
    </section>
{% endblock %}
