<section id="projects" class="">
    <i class="section-icon">{% include 'svg/work.svg' %}</i>
    <h2 class="heading">Projects</h2>
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="row" id="project-{{ project.title|slugify}}">
                <div class="project vertical-align shadow-large">
                    <div class=" col-sm-4 project-image">
                        <a href="#img-project{{ forloop.counter0 }}">
                            <img src="{{ project.image.url }}" class="thumbnail img-responsive">
                        </a>
                        <a href="#_" class="lightbox" id="img-project{{ forloop.counter0 }}">
                            <img src="{{ project.image.url }}">
                        </a>
                    </div>
                    <!-- End .project-image -->
                    <div class=" col-sm-8 project-info">
                        <p class="testimonial-date">{{ project.from_date|date:"F Y"  }} - {{ project.to_date|date:"F Y"  }}</p>
                        <h3>{{ project.title }}</h3>
                        {% for paragraph in project.paragraphs %}
                        <p>
                            {{paragraph}}
                        </p>
                        {% endfor %}
                    </div>
                    <!-- End .project-info -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>